body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
    margin: 0;
    padding: 0;
}

ul {
    font-family: helvetica;
    padding-left: 20px;
}

li {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #f5f5f5;
}

li span {
    flex-grow: 1;
    text-align: left;
}

.list {
    list-style: square;
    
}

#msg {
    font-family: monospace;
}

:root {
    --blue: #1a90ff;
    --white: #FFFFFF;
    --black: #303030;
    --green: #04a038;
}

.container {
    max-width: 600px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

.theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    cursor: pointer;
}

.done {
    text-decoration: line-through;
    color: #aaa;
}

.removeButton {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px 8px;
    cursor: pointer;
}

